-- SalesAnalyticsDB schema (normalized SuperStore)
-- Run in SSMS: select the right database first
-- USE SalesAnalyticsDB;
-- GO

IF OBJECT_ID('dbo.OrderItems', 'U') IS NOT NULL DROP TABLE dbo.OrderItems;
IF OBJECT_ID('dbo.Orders', 'U') IS NOT NULL DROP TABLE dbo.Orders;
IF OBJECT_ID('dbo.Location', 'U') IS NOT NULL DROP TABLE dbo.Location;
IF OBJECT_ID('dbo.Products', 'U') IS NOT NULL DROP TABLE dbo.Products;
IF OBJECT_ID('dbo.Customers', 'U') IS NOT NULL DROP TABLE dbo.Customers;
GO

CREATE TABLE dbo.Customers (
    CustomerID   NVARCHAR(50)  NOT NULL,
    CustomerName NVARCHAR(150) NULL,
    Segment      NVARCHAR(50)  NULL,
    CONSTRAINT PK_Customers PRIMARY KEY (CustomerID)
);
GO

CREATE TABLE dbo.Products (
    ProductID    NVARCHAR(50)  NOT NULL,
    ProductName  NVARCHAR(255) NULL,
    Category     NVARCHAR(100) NULL,
    SubCategory  NVARCHAR(100) NULL,
    CONSTRAINT PK_Products PRIMARY KEY (ProductID)
);
GO

CREATE TABLE dbo.Location (
    LocationID INT IDENTITY(1,1) NOT NULL,
    Country    NVARCHAR(100) NULL,
    City       NVARCHAR(100) NULL,
    State      NVARCHAR(100) NULL,
    PostalCode NVARCHAR(20)  NULL,
    Region     NVARCHAR(50)  NULL,
    CONSTRAINT PK_Location PRIMARY KEY (LocationID)
);
GO

CREATE TABLE dbo.Orders (
    OrderID     NVARCHAR(50) NOT NULL,
    OrderDate   DATE         NULL,
    ShipDate    DATE         NULL,
    ShipMode    NVARCHAR(50) NULL,
    CustomerID  NVARCHAR(50) NOT NULL,
    LocationID  INT          NOT NULL,
    CONSTRAINT PK_Orders PRIMARY KEY (OrderID),
    CONSTRAINT FK_Orders_Customers FOREIGN KEY (CustomerID) REFERENCES dbo.Customers(CustomerID),
    CONSTRAINT FK_Orders_Location  FOREIGN KEY (LocationID) REFERENCES dbo.Location(LocationID)
);
GO

CREATE TABLE dbo.OrderItems (
    RowID     INT          NOT NULL,
    OrderID   NVARCHAR(50) NOT NULL,
    ProductID NVARCHAR(50) NOT NULL,
    Sales     DECIMAL(12,2) NULL,
    Quantity  INT           NULL,
    Discount  DECIMAL(5,2)  NULL,
    Profit    DECIMAL(12,2) NULL,
    CONSTRAINT PK_OrderItems PRIMARY KEY (RowID),
    CONSTRAINT FK_OrderItems_Orders   FOREIGN KEY (OrderID)   REFERENCES dbo.Orders(OrderID),
    CONSTRAINT FK_OrderItems_Products FOREIGN KEY (ProductID) REFERENCES dbo.Products(ProductID)
);
GO

-- Helpful indexes for joins (optional but professional)
CREATE INDEX IX_OrderItems_ProductID ON dbo.OrderItems(ProductID);
CREATE INDEX IX_OrderItems_OrderID   ON dbo.OrderItems(OrderID);
CREATE INDEX IX_Orders_CustomerID    ON dbo.Orders(CustomerID);
CREATE INDEX IX_Orders_LocationID    ON dbo.Orders(LocationID);
GO